# Usado pelo docker-compose.yml

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pautaviva

# Dentro da rede do compose, o host do banco é o nome do serviço "postgres"
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/pautaviva?schema=public"

BETTER_AUTH_SECRET="change-me-min-32-characters-long"
BETTER_AUTH_URL="http://localhost:3333"
CORS_ORIGIN="http://localhost:5173"

PORT=3333
