# Usado pelo docker-compose.yml

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pautaativa

# Dentro da rede do compose, o host do banco é o nome do serviço "postgres"
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/pautaativa?schema=public"

JWT_SECRET="change-me"
CORS_ORIGIN="http://localhost:5173"

PORT=3333
